@import "../css/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary: #0463FA;
    --light: #EFF5FF;
    --dark: #1B2C51;
}

[x-cloak] {
    display: none;
}

.fix-underline{
    outline: none;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
    }

   